* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-pale-blue: hsl(225, 100%, 94%);

  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--color-pale-blue);
  background-repeat: no-repeat;
}

html:before {
  content: "";
  background-image:url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  z-index: -1;
  display: inline-block;
  height: 25vh;
  width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.attribution {
  position: absolute;
  left: 10px;
  bottom: 10px; 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 600px) {
  
  html {
    background-image: none;
    background-color: var(--color-pale-blue);
  }

  html::before {
    content: "";
    background-image:url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    z-index: -1;
    display: inline-block;
    height: 50vh;
    width: 100vw;
  }
}
